<!-- CALENDAR of the application
shows the usual look of a calendar of made of rows and columns-->
<div class="calendar">
  <h1>{{ calendar_month_str }}</h1>
  <h2>{{ calendar_year_str }}</h2>

  <table>
    <tr>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </tr>

    {% for week in calendar_month_range %}
    <tr>
      {% for day in week %} {% if day <= 0 or day > calendar_days %}
      <td>&nbsp;</td>
      {% else %} {% if day == calendar_selected %}
      <td class="selected">{{ day }}</td>
      {% else %}
      <td>{{ day }}</td>
      {% endif %} {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1 class="heading">TODAY'S EVENTS</h1>

  <div class="events">
    {% for event in event_list %}
    <div class="event">
      <div class="marker">&nbsp;</div>
      <a
        class="label"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ event.name }}
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{event.eventID}}/deleteEvent">Remove</a>
      </div>
    </div>
    {% endfor %}

    <div class="event action">
      <div class="marker">&plus;</div>
      <a href="{% url 'newevent' %}" class="label">Add Event</a>
    </div>
  </div>
</div>
