{% extends "calnote/layout.html" %}
{% load static %}

{% block body %}
    <div id="collapsible-sidenav" class="sidenav list-group-flush">
        <a href="javascript:void(0)" class="closebtn" onclick="closesidebar()">&#9776;</a>
        <span class="list-group-item menu-item username">Jane Doe <br> @janedoe</span>
        <a href="#" class="list-group-item list-group-item-action menu-item">View All Notes</a>
        <a href="#" class="list-group-item list-group-item-action menu-item">View All Events</a>
        <a href="#" class="list-group-item list-group-item-action menu-item">View All Tasks</a>
    </div>
    
    <div class="row">
        <div class="col-1 sidebarpane">
            <span style="font-size:30px;cursor:pointer" onclick="opensidebar()">&#9776;</span>
        </div>
        <div class="col tasks">
            <h1>Tasks</h1>

            {%if empty_task_list %}
				<span id="test-removed">No active tasks.</span> <br><br>
			{% else %}

			{% if len_incomplete_task_list == 0 %}
				<span id="marked-test">You have no incomplete tasks.</span>
			{% else %}
                <span id="marked-test">You have {{ len_incomplete_task_list }} incomplete task/s.</span>
			{% endif %}
			<br><br>
			
			<!-- list of incomplete tasks -->
			{% block inc-tasktable %}
			{% endblock %}
			{% endif %}

			<br>
			<form action="{% url 'newtask' %}">
				<button class="btn btn-primary" type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pen" viewBox=" 1 16 16">
					<path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
					</svg>
					Add New Task
				</button>
			</form><br>

			<!-- list of complete tasks -->
			{%if not empty_task_list %}
			{% block comp-tasktable %}
			{% endblock %}
			{% endif %}

            <!-- View toggle buttons. UNDER CONSTRUCTION by MARIEL -->
            <!-- <div class="btn-group btn-group-toggle toggleviewbtn" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Notes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Tasks
                </label>
            </div> -->
        </div>
        <div class="col-3 events">
            {% include "calnote/calendar.html" %}
        </div>
    </div>

    

{% endblock %}

{% block script %}
    <script src="{% static 'calnote/sidebar.js' %}"></script>
{% endblock %}