{% extends "calnote/layout.html" %}
{% load static %}

{% block body %}

<div class="col">
    <h1>{{ action }}</h1>
    <form action ="" method="POST" >
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Task</label> 
                {{ taskform.task }}
            </div>

            <div class="form-group col-md-6">
                <label>Due date</label> 
                <br>
                {{ taskform.dueDate }}
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Confirm">
    </form>
</div>
{% endblock %}
