{% extends "calnote/index.html" %}
{% load static %}

{% block inc-tasktable %}
	<table class="table table-hover" id="task-table">
		{% for task in task_list %}
			<tr id="for-test">
				{% if not task.isComplete %}
				<td>
					<a href="{{task.taskID}}/toggletask">
					<svg width="30" height="30">
					<circle cx="15" cy="15" r="12" style="fill:none;stroke:black;stroke-width:3;opacity:0.2" />
					</svg>
					</a>
				</td>
				<td>{{ task.task }}</td>
				<td>{{ task.dueDate}} </td>
				<td>
					<a href="{{task.taskID}}/deletetask">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#f83a26" class="bi bi-trash" viewBox="0 0 20 20">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
						<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</a>
				</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block comp-tasktable %}
	<div class='collapsible'>
		<div>
		<input type='checkbox' name='collapsible' id='completed-tasks' class='collapsible-button'>
		<label for='completed-tasks' class='collapsible-label'>Completed Tasks</label>
			{% if len_complete_task_list == 0 %}
				<div class='collapsible-content'>You have no completed tasks.</div>
			{% else %}
			<table class="table table-hover collapsible-content">
				{% for task in task_list %}
					<tr>
						{% if task.isComplete %}
						<td>
							<a href="{{task.taskID}}/toggletask" id="test-click">
							<svg width="30" height="30">
							<circle cx="15" cy="15" r="12" style="fill:#34eb6e;stroke:green;stroke-width:2;opacity:0.5" />
							</svg>
							</a>
						</td>
						<td>{{ task.task }}</td>
						<td>{{ task.dueDate}} </td>
						<td>
							<a href="{{task.taskID}}/deletetask">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#f83a26" class="bi bi-trash" viewBox="0 0 20 20">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
							</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>
{% endblock %}