.sidebarpane, .events {
    background-color: #2D2942;
    height: 100vh;
    color: #FFC344;
}

.username{
    border-bottom: 1px solid #ddd;
    border-top: 0px;
    color: #F4F4F4;
    font-size: 2em;
    line-height: 100%;
}

.list-group-item {
  background-color: transparent;
}

.menu-item {
  background-color: transparent;
  border-radius: 0;
  color: #fff;
}

.menu-item:hover{
    background-color:#161421;
}

.menu-item:active{
    background-color:#F4F4F4;
}

.main-area {
    background-color: #F4F4F4;
    color: #2D2942;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2D2942;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 1.4em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #F4F4F4;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.collapsible {
	max-width: 1000px;
	overflow: hidden;
}

.collapsible-label {
	padding: 15px;
	font-size: 24px;
	display: contents;
	cursor: pointer;
	position: relative;
}

.collapsible-label::after {
	content: '\25bd';
	padding: 0 15px;
	float: left;
	transform: scale(1.5);
	transition: 0.2s;
}

.collapsible-content {
	padding: 20px;
	color:rgba(0, 0, 0, 0.5);
	display: block;
}

.collapsible-button {
	display: none;
}

.collapsible-button:checked ~ .collapsible-content {
	display: none;
}

.collapsible-button:checked ~ .collapsible-label::after {
	transform: scale(1.5) rotate(-90deg);
}